body{
    margin: 0;
    padding: 0;
    background-color: #41a0e2;
}

.container{
    background-color: white;
    border-radius: 1rem;
    width: 1270px;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 25px;
}